* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-image: url(./assets/bg.jpg);
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #121214;

  display: grid;
  gap: 32px;

  padding: 32px 0;

  font-family: 'Inter', sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

header div {
  display: flex;
  padding: 4px;
  border-radius: 50%;
  background: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
}

header img {
  width: 120px;
  border-radius: 50%;
}

main {
  display: grid;
  gap: 24px;

  max-width: 580px;
  width: 90%;
  margin: auto;
}

section {
  color: white;

  padding-top: 4px;
  border-radius: 16px;
  background: linear-gradient(90deg, #9572fc 0%, #43e7ad 50.52%, #e2d45c 100%);
}

section > div {
  background: #2a2634;
  padding: 24px 32px 32px;
  border-radius: 8px;
}

section h2 {
  font-weight: 900;
  line-height: 160%;
  letter-spacing: -0.47px;
}

section p {
  letter-spacing: -0.18px;
  line-height: 160%;
  color: #a1a1aa;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.games {
  display: grid;
  gap: 24px;
}

.games-list img {
  width: 90px;
  border-radius: 8px;
}

.channels {
  display: grid;
  gap: 24px;
}

.channel-list img {
  width: 70px;
  border: 1px solid #443e54;
  border-radius: 50%;
}

.social {
  display: grid;
  gap: 24px;
}
